@charset "UTF-8";
div.news-head {
 padding:5px 7px 5px 7px;
 border-style:solid;
 border-width:0 0 1px 0;
 border-color:#CCCCCC;
 background-color:#eeeeee;
}
div.news-body {
 padding:7px;
}
div.news-h1 {
 margin:7px 7px 0 7px;
 padding:7px;
 border-style:solid;
 border-width:3px;
 border-color:#91C900;
}
div.news-h2 {
 padding:0 0 3px 7px;
 border-style:solid;
 border-width:0 0 1px 4px;
 border-color:#91C900;
}

div.icon {
	margin: 5px 0 10px 0;
}

div.memo {
	margin:10px 0 5px 0;
}